{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}Tareas{% endblock title %}
{% block titulo %}Tareas{% endblock titulo %}

{% block content %}
    <!-- Default box -->
      <div class="card row">
        <div class="card-header">
          <h3 class="card-title">Tareas</h3>
          
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body col-12">
            <div class="row">

            {% for tarea in tareas  %}
            <div class="col-4">
                <div class="card card-warning collapsed-card">
                    <div class="card-header">
                        <h3 class="card-title">{{tarea.titulo}}</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                            </button>
                        </div>
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h2 class="card-title">{{grupo.nombre}}</h2>
                        <p class="card-text"><strong>Descripción:</strong> {{tarea.descripcion}}</p>
                        <p class="card-text"><strong>Fecha de entrega:</strong> {{tarea.fecha_entrega}}</p>
                        <a href="{% url 'descripcion-tarea' tarea.id %}" class="btn btn-warning d-flex justify-content-center">Ir a la tarea</a>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            {% endfor %}
                    

            </div>
            
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->



{% endblock content %}